<h1>Painel de Admnistração</h1>
<div class="card mt-4">
    <div class="card-body">
        <h3>Management posts</h3>
        <a href="/admin/posts"><button class="btn btn-success mt-3">Edit posts</button></a>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <h3>Management categories</h3>
        <a href="/admin/categories"><button class="btn btn-success mt-3">Edit categories</button></a>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <h3>Management users</h3>
        <a href="/admin/users"><button class="btn btn-success mt-3">Edit users</button></a>
    </div>
</div>